.container
  .row
    .col-md-9-offset-3
      %table.table
        %thead
          %tr
            %th= "Imię"
            %th= "Nazwisko"
            %th= "Adres"
            %th= 'PESEL'
            %th= "Seria i numer dowodu"
            %th= "Całkowita kwota pożyczek"
            %th= "Pozostała kwota do spłaty"
        %tbody
          - @borrowers.each do |borrower|
            %tr
              %td= borrower.first_name
              %td= borrower.last_name
              %td= borrower.address
              %td= borrower.pesel
              %td= borrower.id_series_number
              %td= borrower.total_borrowed_amount
              %td= borrower.total_unpaid_amount
