.col-md-12
  .modal-dialog
    .modal-content
      .panel-heading
        %h3.panel-title= "Nowa pożyczka gotówkowa"
      .panel-body
        = simple_form_for @loan, defaults: { input_html: { class: 'form-control' }, error_html: { class: 'has-error' } } do |l|
          .form-inputs
            = l.simple_fields_for @borrower do |b|
              %h3.panel-title= 'Pożyczkobiorca'
              %br
              .well.well-sm= 'Wprowadź jedynie PESEL dla istniejącego pożyczkobiorcy'
              .form-group
                = b.input :first_name, label: 'Imię', autofocus: true, disabled: @borrower_found
              .form-group
                = b.input :last_name, label: 'Nazwisko', disabled: @borrower_found
              .form-group
                = b.input :address, label: 'Adres', disabled: @borrower_found
              .form-group
                = b.input :pesel, label: 'PESEL'
              .form-group
                = b.input :id_series_number, label: 'Numer i seria dowodu', disabled: @borrower_found
              %hr
            = l.simple_fields_for @guarantor do |g|
              %h3.panel-title= 'Poręczyciel'
              %br
              .well.well-sm= 'Wprowadź jedynie PESEL dla istniejącego poręczyciela'
              .form-group
                = g.input :first_name, label: 'Imię', disabled: @guarantor_found
              .form-group
                = g.input :last_name, label: 'Nazwisko', disabled: @guarantor_found
              .form-group
                = g.input :address, label: 'Adres', disabled: @guarantor_found
              .form-group
                = g.input :pesel, label: 'PESEL'
              .form-group
                = g.input :id_series_number, label: 'Numer i seria dowodu', disabled: @guarantor_found
              %hr
              %h3.panel-title= 'Pożyczka'
              %br
            .form-group
              = l.input :amount, label: 'Kwota pożyczki (PLN)', collection: @amount_array
            .form-group
              = l.input :duration, label: 'Okres kredytowania (liczba miesięcy)', collection: 1..3
            .form-group
              = l.input :rate_of_interest, label: 'Stopa oprocentowania', input_html: { value: @loan.rate_of_interest }
            .form-group
              = l.input :day_of_conclusion, label: 'Data podpisania umowy', as: :bootstrap_datepicker,
                input_html: { onchange: 'setDateFromPicker(this)', value: @loan.day_of_conclusion.strftime('%d/%m/%Y') }
            .form-group
              = l.input :place_of_conclusion, label: 'Miejsce podpisania umowy'
          .form-actions
            = l.button :submit, "Utwórz", class: "btn btn-primary"
